<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	   
<mapper namespace="kr.co.two.board.dao.BriefingDAO">

   <insert id="write" parameterType="briefing">
      INSERT INTO board(subject, member_id, content, board_code)
         VALUES(#{subject}, #{member_id}, #{content}, 'briefing')   
   </insert>
   
    
	<select id="list" resultType="briefing" parameterType="string">
		SELECT b.*, m.name AS name
	    FROM board b
	    JOIN member m ON b.member_id = m.member_id
		<where>
		b.board_code = 'briefing'
			<if test="keyword != null and !keyword.equals('') and opt == 'name'">
	            AND name LIKE CONCAT('%', #{keyword}, '%')
	        </if>
	        <if test="keyword != null and !keyword.equals('') and opt == 'subject'">
	            AND b.subject LIKE CONCAT('%', #{keyword}, '%')
	        </if>
		</where>
		ORDER BY b.board_id DESC
		LIMIT #{cnt} OFFSET #{offset}
	</select>
	
	<select id="totalCount" resultType="int" parameterType="string">
		SELECT COUNT(board_id) FROM board
		<where>
		board_code = 'briefing'
			<if test="keyword != null and !keyword.equals('') and opt =='member_id'">AND member_id LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="keyword != null and !keyword.equals('') and opt =='subject'">AND subject LIKE CONCAT('%',#{keyword},'%')</if>
		</where>
	</select>
	
	<select id="adminChk" resultType="int">
		SELECT admin FROM member
		WHERE member_id = #{member_id}
	</select>
   
   
   <select id="detail" resultType="briefing">
   	SELECT b.*, m.name AS name
	    FROM board b
	    JOIN member m ON b.member_id = m.member_id
	    WHERE b.board_id = #{board_id}
   </select>
   
   <select id="briefingUpdate" resultType="briefing">
	 SELECT * FROM board
	  WHERE board_id = #{board_id}
   </select>
   
   <update id="briefingUpdateDo" parameterType="hashmap">
   	UPDATE board SET
   		subject = #{subject}
   		,content = #{content}
   		WHERE board_id = #{board_id}
   </update>
   
   <delete id="delete">
   	DELETE FROM board WHERE board_id = #{board_id}
   </delete>


</mapper>