<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.two.mypage.dao.MypageDAO">

   <insert id="calendarUpdate" parameterType="eventdata">
      INSERT INTO indi_calendar (content, start_date,
      end_date,member_id,allDay,backgroundColor,borderColor,indi_calendar_id)
      VALUES
      (#{content},#{start_date},#{end_date},#{member_id},#{allDay},#{backgroundColor},#{borderColor},#{indi_calendar_id})
      ON DUPLICATE KEY UPDATE start_date = #{start_date},end_date=#{end_date}

   </insert>
   
   <insert id="calendarUpdate2" parameterType="eventdata">
      INSERT INTO indi_calendar (content, start_date,
      end_date,member_id,allDay,backgroundColor,borderColor,indi_calendar_id)
      VALUES
      (#{content},#{start_date},#{end_date},#{member_id},#{allDay},#{backgroundColor},#{borderColor},#{indi_calendar_id})
      ON DUPLICATE KEY UPDATE start_date = #{start_date},end_date=#{end_date}, content=#{content}

   </insert>

   
    <select id="getEvent" resultType="eventdata" parameterType="String">
      SELECT * FROM indi_calendar
      WHERE member_id=#{member_id}

   </select>
   
   <delete id="eventDelete">
      DELETE FROM indi_calendar WHERE indi_calendar_id = #{indi_calendar_id}
   </delete>
   
   


   <insert id="myFolderCreate" parameterType="java.lang.String">
      INSERT INTO myfolder (member_id, folder_name)
      VALUES (#{member_id}, #{folderName})
   </insert>

   <select id="folderList" resultType="mypage">
	  SELECT * FROM myfolder WHERE member_id = #{member_id}
   </select>

   <update id="myFolderUpdate" parameterType="map">
      UPDATE myfolder
      SET
      folder_name = #{folderName}
      WHERE folder_id = #{folderId}
   </update>

   <delete id="myFolderDelte">
        DELETE FROM myfolder WHERE folder_id = #{folderId}
    </delete>
    
    <select id="fileList" resultType="mypage">
         SELECT * FROM file WHERE folder_id = #{folderId}
    </select>
    
    <insert id="fileUpload" parameterType="java.util.Map">
          INSERT INTO file (folder_id, ori_fileName, ext, new_fileName)
       VALUES (${folderId}, #{fileName}, #{ext}, #{newFileName})
   </insert>
   
   <delete id="deleteFile">
        DELETE FROM file WHERE new_fileName = #{fileName}
    </delete>
   

</mapper>